- let camelCase = (x) => x[0].toUpperCase() + x.slice(1)
-function prettyDate(dateString){
  -let date = new Date(dateString)
  -let d = date.getDate();
  -let monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
  -let m = monthNames[date.getMonth()];
  -let y = date.getFullYear();
  -return d+' '+m+' '+y;
-}
doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width,initial-scale=1')
  title To be changed
  link(rel='icon' type='image/png' sizes='16x16' href='/images/favicon.png')
  link(href='/stylesheets/style.css' rel='stylesheet')
#preloader
  .loader
    svg.circular(viewbox='25 25 50 50')
      circle.path(cx='50' cy='50' r='20' fill='none' stroke-width='3' stroke-miterlimit='10')
#main-wrapper
  .nav-header
    .brand-logo
      a(href='/index.html')
        b.logo-abbr
          img(src='/images/logo.png' alt='')
        span.logo-compact
          img(src='/images/logo-compact.png' alt='')
        span.brand-title
          img(src='/images/logo-text.png' alt='')
  .header
    .header-content.clearfix
      .nav-control
        .hamburger
          span.toggle-icon
            i.icon-menu
      .header-left
        .input-group.icons
          .input-group-prepend
            span#basic-addon1.input-group-text.bg-transparent.border-0.pr-2.pr-sm-3
              i.mdi.mdi-magnify
          input.form-control(type='search' placeholder='Search Dashboard' aria-label='Search Dashboard')
          .drop-down.d-md-none
            form(action='#')
              input.form-control(type='text' placeholder='Search')
      .header-right
        ul.clearfix
          li.icons.dropdown
            a(href='javascript:void(0)' data-toggle='dropdown')
              i.mdi.mdi-email-outline
              span.badge.gradient-1.badge-pill.badge-primary 3
            .drop-down.animated.fadeIn.dropdown-menu
              .dropdown-content-heading.d-flex.justify-content-between
                span 3 New Messages
              .dropdown-content-body
                ul
                  li.notification-unread
                    a(href='javascript:void()')
                      img.float-left.mr-3.avatar-img(src='/images/avatar/1.jpg' alt='')
                      .notification-content
                        .notification-heading Saiful Islam
                        .notification-timestamp 08 Hours ago
                        .notification-text Hi Teddy, Just wanted to let you ...
                  li.notification-unread
                    a(href='javascript:void()')
                      img.float-left.mr-3.avatar-img(src='/images/avatar/2.jpg' alt='')
                      .notification-content
                        .notification-heading Adam Smith
                        .notification-timestamp 08 Hours ago
                        .notification-text Can you do me a favour?
                  li
                    a(href='javascript:void()')
                      img.float-left.mr-3.avatar-img(src='/images/avatar/3.jpg' alt='')
                      .notification-content
                        .notification-heading Barak Obama
                        .notification-timestamp 08 Hours ago
                        .notification-text Hi Teddy, Just wanted to let you ...
                  li
                    a(href='javascript:void()')
                      img.float-left.mr-3.avatar-img(src='/images/avatar/4.jpg' alt='')
                      .notification-content
                        .notification-heading Hilari Clinton
                        .notification-timestamp 08 Hours ago
                        .notification-text Hello
          li.icons.dropdown
            a(href='javascript:void(0)' data-toggle='dropdown')
              i.mdi.mdi-bell-outline
              span.badge.badge-pill.gradient-2.badge-primary 3
            .drop-down.animated.fadeIn.dropdown-menu.dropdown-notfication
              .dropdown-content-heading.d-flex.justify-content-between
                span 2 New Notifications
              .dropdown-content-body
                ul
                  li
                    a(href='javascript:void()')
                      span.mr-3.avatar-icon.bg-success-lighten-2
                        i.icon-present
                      .notification-content
                        h6.notification-heading Events near you
                        span.notification-text Within next 5 days
                  li
                    a(href='javascript:void()')
                      span.mr-3.avatar-icon.bg-danger-lighten-2
                        i.icon-present
                      .notification-content
                        h6.notification-heading Event Started
                        span.notification-text One hour ago
                  li
                    a(href='javascript:void()')
                      span.mr-3.avatar-icon.bg-success-lighten-2
                        i.icon-present
                      .notification-content
                        h6.notification-heading Event Ended Successfully
                        span.notification-text One hour ago
                  li
                    a(href='javascript:void()')
                      span.mr-3.avatar-icon.bg-danger-lighten-2
                        i.icon-present
                      .notification-content
                        h6.notification-heading Events to Join
                        span.notification-text After two days
          li.icons.dropdown.d-none.d-md-flex
            a.log-user(href='javascript:void(0)' data-toggle='dropdown')
              span English
              i.fa.fa-angle-down.f-s-14(aria-hidden='true')
            .drop-down.dropdown-language.animated.fadeIn.dropdown-menu
              .dropdown-content-body
                ul
                  li
                    a(href='javascript:void()') English
                  li
                    a(href='javascript:void()') Dutch
          li.icons.dropdown
            .user-img.c-pointer.position-relative(data-toggle='dropdown')
              span.activity.active
              img(src='/images/user/1.png' height='40' width='40' alt='')
            .drop-down.dropdown-profile.dropdown-menu
              .dropdown-content-body
                ul
                  li
                    a(href='app-profile.html')
                      i.icon-user
                      span Profile
                  li
                    a(href='email-inbox.html')
                      i.icon-envelope-open
                      span Inbox
                      .badge.gradient-3.badge-pill.badge-primary 3
                  hr.my-2
                  li
                    a(href='page-lock.html')
                      i.icon-lock
                      span Lock Screen
                  li
                    a(href='page-login.html')
                      i.icon-key
                      span Logout
  .nk-sidebar
    .nk-nav-scroll
      ul#menu.metismenu
        li.nav-label Dashboard
        li
            a(href='/food')
                i.icon-grid.menu-icon
                span.nav-text Foods
        li
          a.has-arrow(href='javascript:void()' aria-expanded='false')
            i.icon-speedometer.menu-icon
            span.nav-text Dashboard
          ul(aria-expanded='false')
            li
              a(href='./index.html') Home 1
        li.mega-menu.mega-menu-sm
          a.has-arrow(href='javascript:void()' aria-expanded='false')
            i.icon-globe-alt.menu-icon
            span.nav-text Layouts
          ul(aria-expanded='false')
            li
              a(href='./layout-blank.html') Blank
            li
              a(href='./layout-one-column.html') One Column
            li
              a(href='./layout-two-column.html') Two column
            li
              a(href='./layout-compact-nav.html') Compact Nav
            li
              a(href='./layout-vertical.html') Vertical
            li
              a(href='./layout-horizontal.html') Horizontal
            li
              a(href='./layout-boxed.html') Boxed
            li
              a(href='./layout-wide.html') Wide
            li
              a(href='./layout-fixed-header.html') Fixed Header
            li
              a(href='layout-fixed-sidebar.html') Fixed Sidebar
        li.nav-label Apps
        li
          a.has-arrow(href='javascript:void()' aria-expanded='false')
            i.icon-envelope.menu-icon
            span.nav-text Email
          ul(aria-expanded='false')
            li
              a(href='./email-inbox.html') Inbox
            li
              a(href='./email-read.html') Read
            li
              a(href='./email-compose.html') Compose
        li
          a.has-arrow(href='javascript:void()' aria-expanded='false')
            i.icon-screen-tablet.menu-icon
            span.nav-text Apps
          ul(aria-expanded='false')
            li
              a(href='./app-profile.html') Profile
            li
              a(href='./app-calender.html') Calender
        li
          a.has-arrow(href='javascript:void()' aria-expanded='false')
            i.icon-graph.menu-icon
            span.nav-text Charts
          ul(aria-expanded='false')
            li
              a(href='./chart-flot.html') Flot
            li
              a(href='./chart-morris.html') Morris
            li
              a(href='./chart-chartjs.html') Chartjs
            li
              a(href='./chart-chartist.html') Chartist
            li
              a(href='./chart-sparkline.html') Sparkline
            li
              a(href='./chart-peity.html') Peity
        li.nav-label UI Components
        li
          a.has-arrow(href='javascript:void()' aria-expanded='false')
            i.icon-grid.menu-icon
            span.nav-text UI Components
          ul(aria-expanded='false')
            li
              a(href='./ui-accordion.html') Accordion
            li
              a(href='./ui-alert.html') Alert
            li
              a(href='./ui-badge.html') Badge
            li
              a(href='./ui-button.html') Button
            li
              a(href='./ui-button-group.html') Button Group
            li
              a(href='./ui-cards.html') Cards
            li
              a(href='./ui-carousel.html') Carousel
            li
              a(href='./ui-dropdown.html') Dropdown
            li
              a(href='./ui-list-group.html') List Group
            li
              a(href='./ui-media-object.html') Media Object
            li
              a(href='./ui-modal.html') Modal
            li
              a(href='./ui-pagination.html') Pagination
            li
              a(href='./ui-popover.html') Popover
            li
              a(href='./ui-progressbar.html') Progressbar
            li
              a(href='./ui-tab.html') Tab
            li
              a(href='./ui-typography.html') Typography
            li
              a(href='./uc-nestedable.html') Nestedable
            li
              a(href='./uc-noui-slider.html') Noui Slider
            li
              a(href='./uc-sweetalert.html') Sweet Alert
            li
              a(href='./uc-toastr.html') Toastr
        li
          a(href='widgets.html' aria-expanded='false')
            i.icon-badge.menu-icon
            span.nav-text Widget
        li.nav-label Forms
        li
          a.has-arrow(href='javascript:void()' aria-expanded='false')
            i.icon-note.menu-icon
            span.nav-text Forms
          ul(aria-expanded='false')
            li
              a(href='./form-basic.html') Basic Form
            li
              a(href='./form-validation.html') Form Validation
            li
              a(href='./form-step.html') Step Form
            li
              a(href='./form-editor.html') Editor
            li
              a(href='./form-picker.html') Picker
        li.nav-label Table
        li
          a.has-arrow(href='javascript:void()' aria-expanded='false')
            i.icon-menu.menu-icon
            span.nav-text Table
          ul(aria-expanded='false')
            li
              a(href='./table-basic.html' aria-expanded='false') Basic Table
            li
              a(href='./table-datatable.html' aria-expanded='false') Data Table
        li.nav-label Pages
        li
          a.has-arrow(href='javascript:void()' aria-expanded='false')
            i.icon-notebook.menu-icon
            span.nav-text Pages
          ul(aria-expanded='false')
            li
              a(href='./page-login.html') Login
            li
              a(href='./page-register.html') Register
            li
              a(href='./page-lock.html') Lock Screen
            li
              a.has-arrow(href='javascript:void()' aria-expanded='false') Error
              ul(aria-expanded='false')
                li
                  a(href='./page-error-404.html') Error 404
                li
                  a(href='./page-error-403.html') Error 403
                li
                  a(href='./page-error-400.html') Error 400
                li
                  a(href='./page-error-500.html') Error 500
                li
                  a(href='./page-error-503.html') Error 503
  .content-body
    .row.page-titles.mx-0
      .col.p-md-0
        ol.breadcrumb
           each crumb in crumbs
             li.breadcrumb-item
               a(href=crumb.url)=crumb.name
    .container-fluid
        block content
  .footer
    .copyright
      p
        Copyright &copy; Designed &amp; Developed by
        a(href='https://themeforest.net/user/quixlab') Quixlab&nbsp;
        | 2018
script(src='/plugins/common/common.min.js')
script(src='/javascripts/custom.min.js')
script(src='/javascripts/settings.js')
script(src='/javascripts/gleek.js')
script(src='/javascripts/styleSwitcher.js')
|
