extends ../layouts/wireframe

block content
    .row.justify-content-center
        .col-lg-12
            .card
                .card-body
                    .form-validation
                        form.form-valide(action='#' method='POST')
                            .form-group.row
                                label.col-lg-4.col-form-label(for='name') Name
                                    span.text-danger *
                                .col-lg-6
                                    input.form-control#name(name='name' placeholder='Enter food name' type='text')
                            .form-group.row
                                label.col-lg-4.col-form-label(for='quantity') Quantity
                                .col-lg-6
                                    input.form-control#quantity(name='quantity' placeholder='Minimum quantity of food for alert' type='number')
                            .form-group.row
                                label.col-lg-4.col-form-label(for='expiry') Expiry
                                .col-lg-6
                                    input.form-control#expiry(name='expiry' placeholder='Min days from expiry to warn' type='number')
                            .form-group.row
                                .col-lg-8.ml-auto
                                    button.btn.btn-primary(type='submit') Submit
