extends ../layouts/wireframe
block content
    .row
        if foods === undefined || foods.length === 0
            .display-1 Insert items in food to show this page
        else
            each food in foods
                -if(food===undefined) break;
                .col-lg-6
                    .card
                        .card-body
                            .card-title
                                h4=camelCase(food.name?food.name:'food Name not defined')
                            .table-responsive
                                table.table
                                    thead
                                        tr
                                            th #
                                            th Quantity
                                            th Expiry
                                            th Vendor
                                            th Purchased On
                                    tbody
                                        if food === undefined || food.inventory === undefined || food.inventory.length === 0
                                            tr
                                                th(colspan=5) Enter new records to show this data
                                        else
                                            each item,index in food.inventory
                                                tr
                                                    th=index+1
                                                    th=item.quantity
                                                    case parseInt((item.expiry - new Date()) / 86400000 / food.expiry)
                                                        when 0
                                                            td.bg-danger-lighten-2=prettyDate(item.expiry)
                                                        when 1
                                                            td.bg-warning-lighten-2=prettyDate(item.expiry)
                                                        default
                                                            td=prettyDate(item.expiry)
                                                    td=item.vendor.name
                                                    td=prettyDate(item.purchase)
                                    thead
                                        tr.bg-light
                                            th #
                                            -totalAmount = food.inventory && food.inventory.length!==0 ? food.inventory.map(i => i.quantity).reduce((a, b) => a + b) : 0
                                            case parseInt(totalAmount / food.minimum)
                                                when 0
                                                    td.bg-danger=totalAmount
                                                when 1
                                                    td.bg-warning=totalAmount
                                                default
                                                    td=totalAmount
                                            th(colspan=3) Total inventory
