extends ../layouts/wireframe

block content
    form(method='post')
        input(name='id')
        input(name='quantity', type='number', placeholder='quantity')
        input(name='expiry', type='date', placeholder='expiry')
        input(name='purchase', type='date', placeholder='purchase')
        input(name='name', type='text', placeholder='vendor_name')
        input(name='vendor_id',type='text',placeholder='vendor_id')
        input(type='submit')
