extends ../layouts/wireframe
block content
    if food === undefined
        .display-1 This item does not exist
    else
        .card
            .card-body
                .card-title
                    h4=camelCase(name)
                .table-responsive
                    table.table
                        thead
                            tr.bg-light
                                th #
                                th(colspan=3) Total inventory
                                -totalAmount = food.inventory ? food.inventory.map(i => i.amount).reduce((a, b) => a + b) : 'No items in inventory'
                                case parseInt(totalAmount / food.minimum)
                                    when 0
                                        td.bg-danger=totalAmount
                                    when 1
                                        td.bg-warning=totalAmount
                                    default
                                        td=totalAmount
                            tr
                                th #
                                th Quantity
                                th Expiry
                                th Vendor
                                th Purchased On
                        tbody
                            each item,index in food.inventory
                                tr
                                    th=index+1
                                    th=item.amount
                                    case parseInt((item.expiry - new Date()) / 86400000 / food.expiry)
                                        when 0
                                            td.bg-danger-lighten-2=prettyDate(item.expiry)
                                        when 1
                                            td.bg-warning-lighten-2=prettyDate(item.expiry)
                                        default
                                            td=prettyDate(item.expiry)
                                    td=item.vendor
                                    td=prettyDate(item.date)
